<footer class="footer" id="footer" style="background-color:white;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
        </div>
		<!-- Social Media -->
        <div class="row ">
            <div class="col-md-4 ">
                <ul class="list-inline social-buttons ">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
		<!-- Legal -->
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="legal">{{ site.data.sitetext.footer.legal | default: "Privacy Policy" }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
<!-- <footer>
    <div class="container">
        <div class="row ">
            <div class="col-md-4 ">
                <ul class="list-inline social-buttons ">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer> -->
